backend:
  name: git-gateway
  branch: master

media_folder: "public/uploads"
public_folder: "uploads"


collections:
  - name: "pages"
    label: "Page"
    files:
    - label: "About Page"
      name: "about"
      file: "content/pages/about.md"
      fields:
        - label: Page Settings & Meta Information
          name: page-meta
          widget: object
          collapsed: true
          fields:
            - {label: Meta Title, name: page-title, wiget: string}
            - {label: Meta Description, name: page-description, widget: string}
            - {label: Disable Page, name: page-disabled, widget: boolean}
        - {label: Page Heading, name: title, widget: string, default: "About"}
        - {label: Main Content, name: intro, widget: markdown}
        - label: Team
          name: team
          widget: list
          fields:
            - {label: Name, name: name, widget: string}
            - {label: Position, name: position, widget: string}
            - {label: Photo, name: photo, widget: image}
  
  
